.venv/
data/
*__pycache__*
.vscode/
fundemental_hits/
first_data/
old1_regen_new.wav
old2_regen_new.wav
old3_regen_new.wav
old4_regen_new.wav
old1_regen_old.wav
mels_data/
misclassified wav files/
CNN_model/old/
